<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appSettings>
        <add key="Name" value="CnCNet" />
        <add key="NewsUrl" value="https://cncnet.org/news" />
        <add key="BaseUrl" value="https://downloads.cncnet.org/path/to/updates" />
        <add key="ExePath" value="notepad.exe" />
    </appSettings>
</configuration>